<div class="container mx-auto p-4">
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title text-2xl mb-4 text-secondary">All Bookings</h2>
      <div class="overflow-x-auto">
        <ejs-schedule
          height="650px"
          width="100%"
          [selectedDate]="selectedDate"
          [currentView]="currentView"
          [eventSettings]="eventSettings"
          [views]="views">
        </ejs-schedule>
      </div>
    </div>
  </div>
</div>
